*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.header {
  line-height: 1;
  padding: 50px 15px 55px;
  background: linear-gradient(0deg, rgba(32, 156, 194, 0.185), rgba(61, 204, 240, 0.438)), url("../img/background.jpg");
  background-position: center;
  background-size: cover; }
  @media (max-width: 840px) {
    .header__title, .header__value {
      min-width: auto;
      width: 100%; } }
  .header__title {
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    text-align: center; }
  .header__value {
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 42px;
    text-align: center; }
    @media (max-width: 840px) {
      .header__value {
        font-size: 34px; } }
  .header__info {
    margin: 0 auto;
    margin-bottom: 10px; }
    .header__info:last-child {
      margin-bottom: 0; }

.info-box {
  padding-left: 25px;
  padding-right: 25px;
  width: 420px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #727272;
  color: #ffffff; }
  @media (max-width: 840px) {
    .info-box {
      padding-left: 10px;
      padding-right: 10px;
      width: auto;
      max-width: 420px; } }
  .info-box_income {
    background: #2fccaa; }
  .info-box_expenses {
    background: #dd5151; }
  .info-box__title {
    font-size: 18px;
    text-transform: uppercase; }
    @media (max-width: 840px) {
      .info-box__title {
        font-size: 16px; } }
  .info-box__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left; }
  .info-box__value {
    flex-grow: 1;
    font-size: 20px;
    text-align: left; }
    .info-box__value:not(:last-child) {
      margin-right: 15px; }
      @media (max-width: 840px) {
        .info-box__value:not(:last-child) {
          margin-right: 10px; } }
    @media (max-width: 840px) {
      .info-box__value {
        font-size: 18px; } }
  .info-box__percents {
    width: 70px;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 840px) {
      .info-box__percents {
        width: 50px; } }

.badge {
  padding: 4px 5px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px; }
  .badge_dark {
    background-color: rgba(221, 81, 81, 0.2);
    color: #dd5151; }

.form-wrapper {
  padding: 22px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  border-bottom: 1px solid #d8d8d8; }

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media (max-width: 840px) {
    .form {
      width: 100%;
      flex-direction: column; } }
  .form__input {
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
    line-height: 22px; }
    .form__input:not(:last-child) {
      margin-right: 10px; }
    .form__input_description {
      width: 350px; }
    .form__input_sum {
      width: 120px; }
  .form__button {
    padding: 0 20px;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #6b6e6e;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease-in; }
    .form__button:hover {
      background-color: rgba(0, 0, 0, 0.753); }
    @media (max-width: 840px) {
      .form__button {
        text-align: center;
        justify-content: center; } }
  .form__button-icon {
    margin-left: 10px; }

@media (max-width: 840px) {
  .form > * {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0 !important; } }

@media (max-width: 840px) {
  .form > *:last-child {
    margin-bottom: 0; } }

.budget-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center; }
  @media (max-width: 840px) {
    .budget-section {
      padding-top: 35px;
      padding-left: 15px;
      padding-right: 15px;
      flex-direction: column; } }

.budget__col {
  width: 390px; }
  @media (max-width: 840px) {
    .budget__col {
      width: 100%; } }
  .budget__col:not(:last-child) {
    margin-right: 30px; }
  @media (max-width: 840px) {
    .budget__col {
      margin-bottom: 35px; } }

.title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }
  .title_income {
    color: #23a868; }
  .title_expenses {
    color: #dd5151; }

.budget-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .budget-list__item {
    background: #f5f5f5; }
  .budget-list:nth-child(even) {
    background-color: #fdfdfd; }

.item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px; }
  .item__title {
    color: #000000;
    font-size: 18px;
    line-height: 1; }
  .item__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s ease-in; }
  .item__amount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #23a868;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    transition: transform 0.2s; }
  .item__badge {
    padding-left: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .item__remove {
    display: none;
    padding: 0;
    /* margin-left: 15px; */
    border: none;
    background-color: transparent;
    cursor: pointer; }

.item_expense .item__amount {
  color: #dd5151; }

.item:hover .item__amount {
  transform: translateX(-10px); }

.item:hover .item__remove {
  display: block; }

/* ----------------- Header ---------------------- */
/* ----------------- Form ---------------------- */
/* ----------------- Table ---------------------- */
/* -------------------- Media ------------------------------- */
